<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getmate.getmate">

    <permission
        android:name="com.getmate.getmate.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.getmate.getmate.permission.MAPS_RECEIVE"/>
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <uses-feature android:name="android.hardware.location.network"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/fbappid"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"

            />
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider442175592828339"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name=".GetMateLogin" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProfile" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"
                    />
            </intent-filter>
        </activity>

        <activity android:name=".InterestActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"
                    />
            </intent-filter>
        </activity>

        <activity android:name=".MainClass" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"
                    />
            </intent-filter>
        </activity>

        <activity android:name=".TimeLineMap" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"
                    />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.android.google.gms.version"
            android:value="@integer/google_play_services_version"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDveIZVazXDL60CXqODIvzzBM4l_XzE2uc" />
    </application>

</manifest>